
<div class="fields">
  <li>
    Bag NO.<%= f.text_field :bag, :size=>"6" %>
    Remark:<%= f.text_field :remark, :size=>"10", :value=>"N/A" %>
    | <%= link_to_remove_fields "Remove", f %>
  </li>
</div>
