<h2>Editing Position Change</h2>

<% if can? :manage, :hr %>


  <%= render 'form' %>

  <%= link_to 'Show', @hr_dept_change %> |
  <%= link_to 'Back', hr_dept_changes_path %>

<% else %>

  <%= render "site/denied"  %>

<% end %>