<p id="notice"><%= notice %></p>

<p>
  <b>Quartz:</b>
  <%= @quartz_photo.quartz_id %>
</p>


<%= link_to 'Edit', edit_quartz_photo_path(@quartz_photo) %> |
<%= link_to 'Back', quartz_photos_path %>
