<p id="notice"><%= notice %></p>

<p>
  <b>Security case:</b>
  <%= @security_case_medium.security_case_id %>
</p>


<%= link_to 'Edit', edit_security_case_medium_path(@security_case_medium) %> |
<%= link_to 'Back', security_case_media_path %>
