


<table align="center" >
  <tr align="center" >
    <th><font  size="5pt" />
      G.S.ENERGY CO.,LTD 
      <%= @date_select %> 產 品 包 裝 單 | ใบบรรจุผลิตภัณฑ์
    </th>
  </tr>
  <tr>
    <td align="center">
      * 生 产 专 用 | สำหรับฝ่ายผลิต | For Production Department Use Only
    </td>
  </tr>
</table>

<p></p>

<table class="print" border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr>
    <th colspan="2" width="50%"><font size="4pt" />包裝袋號碼 | หมายเลขถุงบรรจุ</th>
    <th colspan="2" width="50%"><font size="6pt" /><%= bn[0,4] rescue nil %>-<%= bn[4,5] rescue nil %></th>
  </tr>
  <tr height="35">
    <th width="25%"><font size="4pt"/>包 装 袋 类 型<br/>Type Of Bag</th>
    <th width="25%">[  ] T   |   [  ] TB</th>
    <th width="25%"><font size="4pt" />等 級 | เกรด</th>
    <th width="25%"></th>
  </tr>
</table>
<p></p>
<font   size="4pt" >
<table class="print" border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr>
    <th>NO.<br/>ลำดับ</th>
    <th>硅塊號碼<br/>หมายเลขก้อนโลหะซิลิคอน</th>
    <th>等級<br/>เกรด</th>
    <th>重量<br/>น้ำหนัก</th>
    <th>敲硅人員<br/>พนักงานตีโลหะซิลิคอน</th>
    <th>其他<br/>อื่นๆ</th>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p></p>
<table class="print" border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr height="30">
    <th width="40%">總 重 | น้ำหนักรวม</th>
    <td width="60%"></td>
  </tr>
  <tr height="30">
    <th width="40%">秤 重 人 員 | พนักงานชั่งน้ำหนัก</th>
    <td width="60%"></td>
  </tr>
  <tr height="30">
    <th width="40%">包 裝 班 班 長 | หัวหน้ากะแพ็คกิ้ง</th>
    <td width="60%"></td>
  </tr>   
</table>
</font>
<p></p>
<p></p>
