<% if can? :manage, :ms_losses %>

<h1>Editing ms_loss</h1>

<%= render 'form' %>

<%= link_to 'Show', @ms_loss %> |
<%= link_to 'Back', ms_losses_path %>

<% else %>

<%= render "site/denied" %>

<% end %>