<% if can? :manage, :purchase_location %>

  <h2>Editing Purchase Location</h2>

  <%= render 'form' %>

  <p></p>

  <%= link_to 'Show', @purchase_location %> |
  <%= link_to 'Back', purchase_locations_path %>

<% else %>

  <%= render "site/denied" %>

<% end %>