<h3 align="center">G.S.E Co.,Ltd 资 讯 设 备 领 用 记 录<br/>IT Device Reservtion</h3> 
<p/>

GQ-16-003

<table border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr align="center"  HEIGHT=30/>
  <th/>Use Time | 使 用 时 间
  <th/>Return Time | 归 还 时 间

  <tr align="center"  HEIGHT=50/>
  <td/>
  <td/>
</table>
<p/>
<table border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr align="center"  HEIGHT=30/>
  <th/>User | 领 用 人
  <th/>Dept. | 所属部门
  <th/>Device of Reservation<br/>预定设备

  <tr align="center"  HEIGHT=50/>
  <td/>
  <td/>
  <td/>
</table>
<p/>
<table border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr align="center"  HEIGHT=30/>
  <th/>Location of Usage<br/> 使 用 地 点
  <th/>Reason | 使用原因
  <tr align="center"  HEIGHT=50/>
  <td/>
  <td/>

  <tr/>
  <th colspan="3" align="center"  HEIGHT=30/>Remark | 备 注
  <tr/>
  <td colspan="3" align="center"  HEIGHT=80/>
</table>

<p/>
<table border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr align="center"  HEIGHT=30/>
  <th/>Returned Confirm | 归 还 确 认 

  <tr align="center"  HEIGHT=50/>
  <td/>
</table>
<p/>
GQ-16-003