<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @purchase_request_photo.request_id %>
</p>


<%= link_to 'Edit', edit_purchase_request_photo_path(@purchase_request_photo) %> |
<%= link_to 'Back', purchase_request_photos_path %>
