<h2> Sorry! access denied!</h2> 
<p/><h4>You don't allow to access this page.</h4>
<p/>
<li/> If you have an account, please <%= link_to('LOGIN', new_user_session_path)  %> first. 
<p/><p/><%= link_to('> > > Click To Login < < <', new_user_session_path)  %>  
<li/>If you already logined, that means your account does't have permission to view the content.
