<div id="title" class="step" data-x="0" data-y="0" >   

  <table>
    <tr><td><b>G.S.Energy Co.,Ltd</b></td></tr>
    <tr><td><strong>资 讯 系 统 教 育 训 练 教 材</strong></td></tr>
    <tr><td><strong>Internal System Training Resource</strong></td></tr>
    <tr/><td/>&nbsp;
  </table>

  <table  class="footnote" >
    <tr>
      <td><%= link_to " > Micorsilica Production 微 硅 粉 生 产", {:controller=>"impress", :action=>"microsilica"} %></td>
      <td/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><%= link_to "> Micorsilica Inventory 微 硅 粉 库 存", {:controller=>"impress", :action=>"warehouse"} %></td>
    </tr>
  </table>

</div> <!--end of title slide -->

<div id="ms" class="step" data-x="1040" data-y="0" >   
  <table>
    <tr/><td/><font size=12px />Operation Responsibility of<br/>Microsilica Module<br/>微 硅 粉 模 块 权 责 说 明
  </table>

  <table>
    <tr/>
    <td/><strong/>职位\权责
    <td/>微硅粉生产数据
    <td/>
    <tr/>
    <td/>环保配电
  </table>
</div>