
<div id="title" class="step" data-x="0" data-y="0" data-scale="2" align="center">   
  <table align="center">
    <tr align="center" ><td><h1>G.S.E</h1></td>	</tr>
    <tr align="center" ><td><strong>微 硅 粉 生 产 Microsilica Production</strong></td></tr>
    <tr align="center" ><td><strong>数 据 流 程 与 资 讯 管 理</strong></td></tr>
    <tr align="center" ><td>Production Data Flow & Management</td></tr>
  </table>
</div> <!--end of title slide -->



<div id="production" class="step" data-x="-700" data-y="800" align="center">
  <table>
    <tr><td align="center"><b>生 产 管 理 Production</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr><td><li>运 行 数 据 --- Running Data</li></td></tr>
    <tr><td><li>包 装 数 据 --- Packing Data</li></td></tr>
  </table>
</div> 
<!--end of production slide -->




<div id="warehouse" class="step" data-x="0" data-y="800" align="center">   
  <table>
    <tr><td align="center"><b>仓 库 管 理 Warehouse</b></td></tr>
    <tr><td>&nbsp</td></tr>
    <tr><td><li>入 库 数 据 --- Storage Data</li></td></tr>
    <tr><td><li>出 货 数 据 --- Shipping Data</li></td></tr>
  </table>

</div> 
<!--end of warehouse slide -->



<div id="sales" class="step" data-x="750" data-y="800" align="center">   
  <table>
    <tr><td align="center" ><b>业 务 管 理 Marketing & Sales</b></td></tr> 
    <tr><td>&nbsp</td></tr>
    <tr><td><li>订 单 管 理 --- P.O Control</li></td></tr>
    <tr><td><li>库 存 查 询 --- Inventory Retrival</li></td></tr>
  </table>
</div> 
<!--end of sales slide -->



<div id="overview" class="step" data-x="0" data-y="200" data-scale="2" align="center"></div>
<!-- end of overview -->



<div id="warehouse2" class="step" data-x="0" data-y="800" align="center">   
  <table>
    <tr><td align="center"><b>仓 库 管 理 Warehouse</b></td></tr>
    <tr><td>&nbsp</td></tr>
    <tr><td><li>入 库 数 据 --- Storage Data</li></td></tr>
    <tr><td><li>出 货 数 据 --- Shipping Data</li></td></tr>
  </table>

</div> 
<!--end of warehouse2 slide -->


<div id="whselect" class="step" data-x="0" data-y="1700" data-rotate="90" align="center">
  <table>
    <tr><td><strong>入 库 确 认 Storage Checking</strong></td></tr>
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/whselect.png")%>
    <tr align="center"><td class="footnote">选择要进行入库确认的日期 | Select Data To Check</td></tr>	
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>权 责</b> : 仓 库 工 作 人 员 每 天 下 午 三 点 前 确 认 ！<br/> Responsibility : Warehouse Staffs Check Before 3 PM. Everyday
    </font>	
  </div>
</div>
<!--end of select -->

<div id="whcheck" class="step" data-x="0" data-y="2700" data-rotate="90" align="center">
  <table>
    <tr><td><strong>入 库 确 认 Storage Checking</strong></td></tr>
    <tr><td>&nbsp</td></tr>	
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/whcheck.png")%>
    <tr><td>&nbsp</td></tr>	
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>权 责</b> : 仓 库 工 作 人 员 每 天 下 午 三 点 前 确 认 ！<br/> Responsibility : Warehouse Staffs Check Before 3 PM. Everyday
    </font>	
  </div>
</div>
<!--end of whcheck -->


<div id="whedit" class="step" data-x="-0" data-y="3700" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>编 辑 入 库 位 置<br/>Edit Loaction
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/whedit.png")%>
  </table>
</div>
<!--end of whedit -->


<div id="whchecked" class="step" data-x="-0" data-y="4700" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>确 认 入 库 位 置<br/>After Editing Loaction
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/whchecked.png")%>
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * 确 认 位 置 后 微 硅 粉 会 变 成 已 入 库 状 态 <br/> After Editing Location, Microsilica Will Move To Checked List 
    </font>	
  </div>
</div>
<!--end of whchecked -->

<div id="warehouse3" class="step" data-x="0" data-y="800" align="center">   
  <table>
    <tr><td align="center"><b>仓 库 管 理 Warehouse</b></td></tr>
    <tr><td>&nbsp</td></tr>
    <tr><td><li>入 库 数 据 --- Storage Data</li></td></tr>
    <tr><td><li>出 货 数 据 --- Shipping Data</li></td></tr>
  </table>

</div> 
<!--end of warehouse3 slide -->