<table>
  <tr/><td/><h2>P.O.1020631 Lot-1 Shipping</h2>
</table>

<table>
  <tr/>
  <th/><h5>Chemical Elements Summary </h5>

  <tr/>
  <td/><% str_xml = render :file=> "reports/data/hdfe", :locals => {:animate_chart => @animate_chart}
  render_chart root_url+'charts/FCF_MSLine.swf', '', str_xml, "hdfe", 600, 250, false, false %>

  <tr/>
  <td/><% str_xml = render :file=> "reports/data/hdca", :locals => {:animate_chart => @animate_chart}
  render_chart root_url+'charts/FCF_MSLine.swf', '', str_xml, "hdca", 600, 250, false, false %>



  <tr/>
  <td/><% str_xml = render :file=> "reports/data/hdpb", :locals => {:animate_chart => @animate_chart}
  render_chart root_url+'charts/FCF_MSLine.swf', '', str_xml, "hdpb", 600, 250, false, false %>

</table>

<table>
  <tr/>
  <th/><h5>Container Information </h5>
</table>

<table>
  <tr/>
  <th/>Index
  <th/>Container NO.
  <th/>Grade
  <th/>Fe (%)
  <th/>Al (%)
  <th/>Ca (%)
  <th/>Ti (%)
  <th/>P (ppm)
  <th/>B (ppm)

  <tr/>
  <td/>C-1
  <td/>FCIU-2442763
  <td/>3303 
  <td/>0.258	
  <td/>0.101	
  <td/>0.019	
  <td/>0.017	
  <td/>32.42	
  <td/>1.40


  <tr/>
  <td/>C-2
  <td/>YMLU-3063114
  <td/>3303
  <td/>0.245	
  <td/>0.049	
  <td/>0.016	
  <td/>0.018	
  <td/>34.94	
  <td/>3.33


  <tr/>
  <td/>C-3
  <td/>GLDU-5497591
  <td/>3303
  <td/>0.248	
  <td/>0.086	
  <td/>0.015	
  <td/>0.019	
  <td/>35.34	
  <td/>1.83



  <tr/>
  <td/>C-4
  <td/>YMLU-3075835
  <td/>3303
  <td/>0.258	
  <td/>0.082	
  <td/>0.017	
  <td/>0.017	
  <td/>36.48	
  <td/>1.03



  <tr/>
  <td/>C-5
  <td/>YMLU-2949290
  <td/>3303
  <td/>0.265	
  <td/>0.094	
  <td/>0.016	
  <td/>0.019	
  <td/>35.69	
  <td/>1.54



  <tr/>
  <td/>C-6
  <td/>YMLU-2865917
  <td/>3303
  <td/>0.266	
  <td/>0.057	
  <td/>0.016	
  <td/>0.016	
  <td/>35.41	
  <td/>1.04


  <tr/>
  <td/>C-7
  <td/>YMLU-3090110
  <td/>3303
  <td/>0.268	
  <td/>0.071	
  <td/>0.017	
  <td/>0.018	
  <td/>34.41	
  <td/>1.07



  <tr/>
  <td/>C-8
  <td/>YMLU-2864675
  <td/>3303
  <td/>0.253	
  <td/>0.119	
  <td/>0.017	
  <td/>0.020	
  <td/>36.74	
  <td/>3.01


  <tr/>
  <td/>C-9
  <td/>CAXU-6347053
  <td/>3303
  <td/>0.248	
  <td/>0.056	
  <td/>0.018	
  <td/>0.018	
  <td/>35.30	
  <td/>4.33


  <tr/>
  <td/>C-10
  <td/>YMLU-3037413
  <td/>3303
  <td/>0.248	
  <td/>0.114	
  <td/>0.021	
  <td/>0.017	
  <td/>36.60	
  <td/>4.75


  <tr/>
  <td/>C-11
  <td/>YMLU-2912048
  <td/>3303
  <td/>0.259	
  <td/>0.129	
  <td/>0.013	
  <td/>0.018	
  <td/>36.06	
  <td/>4.83


</table>